.right .github-fork-ribbon {
  background-color: white;
}

h1 {
	font-size: 15pt;
	font-weight: bold;
}

h2 {
	font-size: 14pt;
	font-weight: bold;
}

h3 {
	font-size: 12pt;
	font-weight: bold;
}

.container {
  max-width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

footer {
  margin-top: 50px;
  text-align: center;
}

nav#toc {
    display: none;
}

#pdfurl {
	display: none;
}
